.cm-s-downtown-midnight {
	font-size: 0.8em;
	line-height: 1.2em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #0f111a;
	color: #F8F8F2;
}
.cm-s-downtown-midnight .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-downtown-midnight .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #0f111a;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-downtown-midnight .CodeMirror-linenumber {
	color: #aaa;
}
.cm-s-downtown-midnight div.CodeMirror-cursor {
	border-left: 2px solid #F8F8F2;
}
.cm-s-downtown-midnight .CodeMirror-selected {
	background: #2a2957;
}
.cm-s-downtown-midnight .cm-searching {
	background: #ff26;
}
.cm-s-downtown-midnight .cm-searching-current {
	background: #af26;
}
.cm-s-downtown-midnight .cm-comment {
	color: #75715E;
}
.cm-s-downtown-midnight .cm-regexp {
	color: #66bfba;
}
.cm-s-downtown-midnight .cm-string {
  color: #E6DB74;
}
.cm-s-downtown-midnight .cm-number {
	color: #8609EF;
}
.cm-s-downtown-midnight .cm-bool {
	color: #ffac00;
}
.cm-s-downtown-midnight .cm-atom {
	color: #ffac00;
}
.cm-s-downtown-midnight .cm-undefd {
	color: #aaaaaa;
}
.cm-s-downtown-midnight .cm-keyword {
	color: #f92626;
}
.cm-s-downtown-midnight .cm-variable {
	color: #67fc31;
}
.cm-s-downtown-midnight .cm-def {
	color: #FD971F;
}
.cm-s-downtown-midnight .cm-variable-2 {
	color: #67fc31;
}
.cm-s-downtown-midnight .cm-property {
	color: #66D9EF;
}
.cm-s-downtown-midnight .cm-operator {
	color: #F92672;
}
.cm-s-downtown-midnight .CodeMirror-matchingbracket {
  background-color: #779b;
  color: #abf !important;
}
.cm-s-downtown-midnight .CodeMirror-nonmatchingbracket {
  background-color: #f556;
  color: #f88 !important;
}
.cm-s-downtown-midnight .cm-tag {
	color: #bf44bb;
}
.cm-s-downtown-midnight .cm-attribute {
	color: #66D9EF;
}
.cm-s-downtown-midnight .cm-attributeValue {
	color: #E6DB74;
}
.cm-s-downtown-midnight .cm-tagName {
	color: #F8F8F2;
}
.cm-s-downtown-midnight .cm-meta {
	color: #aaa;
}
.cm-s-downtown-midnight .cm-comment.cm-html {
	color: #75715E;
}
.cm-s-downtown-midnight .cm-punctuation {
	color: #F92672;
}
.cm-s-downtown-midnight .cm-doctype {
	color: #FD971F;
}
.cm-s-downtown-midnight .CodeMirror-matchingtag {
  background-color: #779b;
  color: #ffbbfb;
}