.CodeMirror-foldmarker {
  color: #ccc;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjAgMjAwIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMjAsMjAgTDE4MCwxODAgTDM0MCwyMCIgc3Ryb2tlPSIjYWFhIiBzdHJva2Utd2lkdGg9IjQwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+);
}
.CodeMirror-foldgutter-folded:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjAgMjAwIiBmaWxsPSJub25lIiB0cmFuc2Zvcm09InJvdGF0ZSgtOTApIj4KICA8cGF0aCBkPSJNMjAsMjAgTDE4MCwxODAgTDM0MCwyMCIgc3Ryb2tlPSIjYWFhIiBzdHJva2Utd2lkdGg9IjQwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+);
}